@import url('https://fonts.google.com/share?selection.family=Unbounded:wght@500');

@font-face {
    font-family: 'Unbounded';
}

*,*::before, *::after{
    box-sizing: border-box;
}

:root{
    --color_red:#BC4B51;
    --color_brown:#531b1b;
    --color_darkred:#571717;
}

img,picture,svg,video{
    display: block;
    max-width: 100%;
}

input,textarea,button,select{
    font:inherit;
}



body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "unbounded",Verdana, Geneva, Tahoma, sans-serif;
}

header{
    position: sticky;
    display: inline-flex;
    align-items: center;
    background-color: var(--color_red);
    width: 100%;
    height: 100px;
    top:0;
}


a,a::after{
    color: white;
    text-decoration: none;
}

.button:hover,.explore-kids:hover,.visit-button:hover{
    background-color: #722C2C;
    transition: all 0.3s ease;
}
.nav-button:hover{
    text-decoration: underline;
}


footer{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color:var(--color_red);
    color: white;
}

.footer-container{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
    gap: 100px;
}

.footer-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.footer-locationandhours{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;

}

.footer-ul{
    padding: 0;
    margin: 0;
}


.div-footer-button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px
}

.footer-button{
    background-color: var(--color_brown);
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    justify-content: center;
    text-align: center;
}

.footer-ul{
    list-style-type: none;
    text-align: center;
}

.footer-p{
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

.push-footer{
    height: 100px;
}

/* Header elements */
.nav-hamburger-menu{
    display: none;
    font-size: 20px;
    margin-left: 20px;
    color: white;
    font-size: 25px;
    align-items: center;
}


nav,#check-menu{
    display: none;
}

#check-menu:checked ~ nav{
    display: block;
}



.logo{
    height: 80px;
    width: 150px;
    object-fit: cover;
}

.name{
    color: white;
    width: 100%;
    max-width: 200px;
    height: 100px;
}

.test{
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.csm{
    width: 20px;
}

/* home page main section */


.div-homepage-container{
    display: flex;
    z-index: 1;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 100px;
}

.div-homepage-title{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    color: white;
    background-color: var(--color_brown);
}

.homepage-h1,.homepage-h2{
    padding: 20px;
    text-align: center;
}

.div-homepage-img{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
}

.div-homepage-h1,.div-homepage-h2{
display: flex;
width: 100%;
justify-content: center;
}

.div-a-visit{
width: 100%;
justify-content: center;
display: flex;
align-items: center;
}

.visit-button{
    display: flex;
    background-color: var(--color_red);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.ul-hours{
background-color: #722C2C;
list-style: none;
color: white;
width: 400px;
text-align: center;
padding-left: 0;
padding-top: 20px;
padding-bottom: 20px;
border-radius: 20px;
}


.visit{
background-color: var(--color_red);
padding: 20px;
margin-top: 60px;
margin-bottom: 60px;
border-radius: 10px;
width: 130px;
text-align: center;
}

/* articles on home page*/
.home-article1-container{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    margin-top: 40px;
    justify-content: center;
}

.home-article2-container{
    display: flex;
    width: 100%;
    flex-flow: row wrap-reverse;
    margin-top: 150px;
    justify-content: center;
}

.div-article1-img,.div-article2-img{
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 100%;
    max-height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.article1-img{
    border-radius: 20px;
    object-fit: cover;
}

.div-article-p,.div-article2-p{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}


.button{
    display: flex;
    background-color: var(--color_red);
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 10px;
    width: 200px;
    justify-content: center;
    text-align: center;
}

/* Explore Page*/
.div-explore-h1,.div-explore-h2{
    display: flex;
    width: 100%;
    justify-content: center;   
}

.div-explore-buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.target{
    top: -300px;
}

.explore-buttons{
    width: 100%;
    margin-top: 100px;
    display: flex;
    gap: 50px;
    flex-flow: row wrap;
    justify-content: center;
}

 .explore-kids{
    display: flex;
    background-color: var(--color_red);
    padding: 20px;
    margin-bottom: 60px;
    border-radius: 10px;
    width: 200px;
    justify-content: center;
}



.div-forkids,.div-forteachers,.div-forresearchers {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding-top: 100px;
}

.forkids-p,.forteachers-p,.forresearchers-p{
    width: 100%;
    height: 100%;
    max-width: 300px;
    font-size: 20px;
    padding: 0,10px,0,10px;
}

.div-forkids-img{
    display: flex;
    max-width: 300px;
    width: 100%;
    height: 100%;
    max-height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}


.for-teachers,.for-kids,.for-researchers{
    margin-top: 50px;
}

.for-teachers{
    object-fit: cover;
}

.div-forteachers-img,.div-forresearchers-img{
    display: flex;
    width: 100%;
    max-height: 300px;
    max-width: 250px;
    margin-bottom: 50px;
}

/* Exhibitions Spaces page */

.div-exhibspace-h1{
    display: flex;
    justify-content: center;
    width: 100%;
}

.div-cosmology-text,.div-evolution-text,.div-Biology-and-Medicine-text,.div-robotics-and-ai-text,.div-ecology-text{
    display: flex;
    width: 100%;
    color: white;
    max-width: 700px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

}

.cosmology,.Biology-and-Medicine,.ecology{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #241928;
    flex-flow: row wrap-reverse;
}
.evolution,.robotics-and-ai{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #3757C7;
    flex-flow: row wrap;
    align-items: center;
}

.Biology-and-Medicine{
    background-color: #007C0C;
}

.robotics-and-ai{
    background-color: #636112;
}
.ecology{
    background-color: #722C2C;
}

.div-cosmology-img,.div-evolution-img,.div-Biology-and-Medicine-img,.div-robotics-and-ai-img,.div-ecology-img{
    display: flex;
    height: 100%;
    max-height: 450px;
    max-width: 700px;

}


.cosmology-img,.Biology-and-Medicine-img,.evolution-img,.robotics-and-ai-img,.ecology-img{
    object-fit: cover;
}

.cosmology-h2,.cosmology-p,.robotics-and-ai-h2,.robotics-and-ai-p,.ecology-h2,.ecology-p{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

/* News and Events page */

.div-container-event,.div-news-h1{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: row wrap;
    margin-top: 50px;
}

.div-event-text{
    background-color: var(--color_brown);
    color: white;
    padding-left: 20px;
    border-radius: 0 20px 20px 0;
    
}



.event-p{
    width: 100%;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
}

.div-event-img{
    width: 100%;
    max-width: 500px;
    height: 400px;
}

.event-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

/* visist page */
.div-visit-h1,.container-visit,.div-location-h2,.div-location-h3,.div-admission-h2,.div-admission-h3,.div-admission-p,.su-but,.contact-div-input,.div-acessibility,.info-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}

.contact-div{
    display: flex;
    justify-content: center;
    flex-flow:  wrap;
    width: 100%;
}

.div-location-h3{
    text-align: center;
}

.info-container{
    color: white;
}

.div-visit-img{
    height: 400px;
    width: 100%;
}

.visit-img{
    object-fit: cover;
    width: 100%;
    height: 400px;
}
.map{
    width: 100%;
    max-width: 600px; 
    height: 450px; 
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.admission-p{
    width: 500px;
    text-align: center;
}

.signup-container,.login-container,.contact-container{
    max-width: 600px;
    width: 100%;
    background-color: var(--color_darkred);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    padding-bottom: 20px;
}


.login-input,.signup-input,.contact{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: #0F0B1C;
}
.contact-message{
    width: 100%;
    max-width: 500px;
    padding-bottom: 100px;
    border-radius: 5px;
    margin: 5px;
    color: #0F0B1C;
}
.submit-button{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(173, 2, 2);
    border-radius: 10px;
    padding: 10px;
    max-width: 200px;
    width: 100%;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.div-info-text{
    width: 500px;
    margin: 20px;
    text-align: center;
    background-color: var(--color_darkred);
    border-radius: 10px;
    padding: 20px;
}


    

.logo{
    height: 90%;
    max-height: 75px;
    width: 100px;
    object-fit: contain;
}

.csm{
    display: block;
    width: 20px;
}

.test{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

/* Support us Page */

.support-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: wrap;
    gap: 50px;
    color: white;
}

.div-getinvolved-h1{
    display: flex;
    justify-content: center;
    width: 100%;
}

.div-support-h1,.div-support-p{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--color_red);
    width: 100%;
    max-width: 400px;
    flex-wrap: wrap;
    text-align: center;
    height:100%;
    min-height: 700px;
    
}

.div-contact-button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.support-p{
    text-align: center;
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
}

.div-support-img{
    width: 100%;
    height: 100%;
    bottom: 0;
}

.support-img-1,.support-img-2,.support-img-3{
    object-fit: cover;
    height: 200px;
    width: 100%;
}


/* media queries */


@media (min-width:1300px){
    nav {
        width: 100%;
        display: flex;
        justify-content: end;
        position: relative;
        margin-right: 20px;

    }
    .nav-button{
        display: flex;
        color: white;
        width: 100px;
        background-color:var(--color_red);
        justify-content: center;
        align-items: center;
        text-align: center;
    }



}


@media (max-width:1300px){

    .nav-hamburger-menu{
        display: block;
    }

    nav{
        width: 100%;
        position: absolute;
        top: 100px;
        background-color:#680a0a;
        z-index: 3;
    }
    .nav-button{
        display: inline-flex;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        justify-content: center;
    }

    }


@media (max-width:1050px){
    .div-event-img{
        margin-left: 5px;
        margin-right: 5px;
    }
    .event-img{
        border-radius: 20px 20px 0 0;
        
       
    }
    .div-event-text{
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding:0;
        margin-left: 5px;
        margin-right: 5px;
    }

    }



